# Virtual environments
fumobat/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.zip
*.tar.gz
*.egg-info/
env/
venv/
ENV/
.venv/

# IDEs
.idea/
.vscode/
.DS_Store
*.iml
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Temporary files
tmp/
temp/
*.tmp
*.bak
*.orig

# OS specific
.DS_Store
Thumbs.db
*.lnk

# Conda/pip
*.egg
*.wheel

#Dataset
datasets/my_dataset/